<div class="newsContent">
    <h1>NEWS</h1>

    <div class="newsContainer">
        <div *ngIf="news && news.length > 0;  else elseBlock">
            <div *ngFor="let new of news" class="aNew">
                <h2>{{new.title}}</h2>
                <h3>{{new.description}}</h3>
                <p>{{new.content}}</p>
                <div>
                    <span>Published by: {{new.author}}, {{new.date | date:'yyyy-MM-dd'}}</span>
                    <button (click)="archiveNews(new._id)">Archive</button>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <h2 class="mne">There's no news left</h2>
        </ng-template>
    </div>
        
</div>
